{% extends 'AppBlog/padre.html' %}

{% load static%}

{% block titulo %}
    Sobre mí
{% endblock %}

{% block contenido %}

    <div class="container">
        <p class="text-sm-start">Mi nombre es <span class="fst-italic">Jennifer López</span>, soy de Montevideo, Uruguay;
             estudiante de Ingeniería en Computación y actualmente me desepeño como Consulora de Data & Analytics.</p>
        <p class="text-sm-start">Este blog es el desarrollo del proyecto final del curso de <span class="fw-bold">Python</span> de <span class="fw-bold">Coder House</span>.</p>
    </div>

{% endblock %}