{% extends 'AppBlog/padre.html' %}

{% load static%}

{% block titulo %}
    
{% endblock %}

{% block contenido %}

    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{object.titulo}}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">Posteado el {{object.fecha}} por {{object.autor.username}}</div>
            <!-- Post categories-->
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{object.categoria}}</a>
        </header>
        <!-- Preview image figure-->
        <figure class="mb-4"><img class="img-fluid rounded" src="{{object.imagen.url}}" alt="..." /></figure>
        <!-- Post content-->
        <section class="mb-5">
            <h5 class="fw-bolder mb-4 mt-5">{{object.subtitulo}}</h5>
            <p class="fs-5 mb-4">{{object.cuerpo}}</p>
        </section>
    </article>

{% endblock %}