{% extends 'AppBlog/padre.html' %}

{% load static%}

{% block titulo %}
    {{titulo}}
{% endblock %}

{% block contenido %}

    <div class="col-3">
    </div>

    <div class="col-6">

        <div class="d-flex align-items-center justify-content-center">           
            {% with user.userprofile.avatar as avatar %}
                {% if avatar %}
                    <img src="{{avatar.url}}" alt="Imagen perfil" style='max-width:120px; margin:1rem;'>
                {% endif %}
            {% endwith %}
            <h4>{{user.first_name}} {{user.last_name}}</h4>
        </div>
        
        <div class="container">
            <form method="POST" enctype='multipart/form-data'> {% csrf_token %}
                {{form.as_p}}
                <button type='submit' class="btn btn-primary">{{submit}}</button>
            </form>
        </div>

    </div>

    <div class="col-3">
    </div>

    <p class="text-end"><a href="{% url 'editarUsuario' %}" class="btn btn-primary btn-sm">Editar datos personales</a></p>
    
{% endblock %}