{% extends 'AppBlog/padre.html' %}

{% load static%}

{% block titulo %}
    {{titulo}}
{% endblock %}

{% block contenido %}

    <div class="container">
        <div class="row">
            <div class="col-2">            
                {% with user.userprofile.avatar as avatar %}
                    {% if avatar %}
                        <img src="{{avatar.url}}" alt="Imagen perfil" style='max-width:100px'>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="col-10">
                <h5>{{user.first_name}} {{user.last_name}}</h5>
            </div>
        </div>
    </div>
    <div class="container">
        <form method="POST" enctype='multipart/form-data'> {% csrf_token %}
            {{form.as_p}}
            <button type='submit'>{{submit}}</button>
        </form>
    </div>

    <a href="{% url 'editarUsuario' %}" class="text-center">Editar datos personales</a>
    
{% endblock %}